@model GeekSeatWitchSaga.Models.Villager;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Villager</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeOfDeath" class="control-label"></label>
                <input asp-for="AgeOfDeath" class="form-control" />
                <span asp-validation-for="AgeOfDeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfDeath" class="control-label"></label>
                <input asp-for="YearOfDeath" class="form-control" />
                <span asp-validation-for="YearOfDeath" class="text-danger"></span>
            </div>
            @if (ViewBag.Message != null)
            {
                <div class="text-danger">@ViewBag.Message</div>
            }
            <div class="form-group mt-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

 

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
